<style>
    .contact-us{
    h1{
        padding-top: 3rem;
        width: 100%;
    }
}
    .img {
        height: 130px;
        width: 130px;
        margin: 5px;
    }
    h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 5px;
}
</style>
<div class="contact-us" >
    <h1>About Us</h1> 
    <hr class="featurette-divider mt-3">
    <div class="row">
        <div class="col-md-6" style="margin-right: 10px;margin-left:10px;">
<p>
            <b>ENgage</b> is an online store that offers a wide range of technology products, from laptops and smartphones to cameras and accessories. Whether you need a new device for work, entertainment, or education, ENgage has something for you. You can browse through the latest models, compare features and prices, and read customer reviews. ENgage also provides fast and secure delivery, easy returns, and excellent customer service. Shop at ENgage today and discover the best deals on technology products.</p>
         <br>
        <div style="display: flex;">
            <img src=".\assets\pic1.jpg" alt="" class="img">
            <img src=".\assets\pic2.jpg" alt="" class="img">
            <img src=".\assets\pic3.jpg" alt="" class="img">
        </div>
            
        </div>
        <div class="col-md-5">
            <h3>Address</h3>
            <p>
                <b>Address Line:</b> 12 Grimmauld Place, Diagon Alley
                 <br>
                 <b>City:</b> London <br>
                 <b>Country:</b> UK
            </p>
            <h3>Email</h3>
            <p><strong>Office: </strong> contact@engage.com <br>
            <strong>Personal: </strong> ceo@engage.com <br></p>
            <h3>Phone</h3>
            <p><strong>Office: </strong> +91-1234567890</p>
            
        </div>
    </div>
    
</div>