<br>
<div class="row">
    <div class="col-md-10">
        <strong>All Product List</strong>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-dark float-right"  >
            Add New Product
        </button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <!-- <th scope="col">Display Image</th> -->
            <th scope="col">Desc</th>
            <th scope="col">Price</th>
            <!-- <th scope="col">Description</th> -->
            <th scope="col">Stock</th>
            
        </tr>
    </thead>
    <tbody>
        <tr >
            <th></th>
            <td></td>
            <!-- <td>{{product_data.uploadPhoto}}</td> -->
            <td></td>
            <td></td>
            <!-- <td>{{product_data.productDesc}}</td> -->
            <td></td>
            <td>
                <span class="sim-pointer"  ></span>
                &nbsp;&nbsp;&nbsp;
                <span class="sim-pointer" ></span>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal for add and edit user  -->
<div class="modal fade"  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form >
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" formControlName="name"  />
                                <div  class="invalid-feedback">
                                    <div >Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productImage">Product Image URL</label>
                                <input type="url" class="form-control" formControlName="uploadPhoto" >
                                <div  class="invalid-feedback">
                                    <div >Please upload file</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Description</label>
                                <textarea class="form-control" rows="3" formControlName="productDesc" ></textarea>
                                <div  class="invalid-feedback">
                                    <div >Write something about product</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productMRP">MRP</label>
                                <input type="text" class="form-control" formControlName="mrp"  />
                                <div  class="invalid-feedback">
                                    <div >MRP is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productDP">DP</label>
                                <input type="text" class="form-control" formControlName="dp"  />
                                <div  class="invalid-feedback">
                                    <div >DP is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productStatus">Status</label>
                                <select class="form-control" formControlName="status" >
                                    <option value="draft">Draft</option>
                                    <option value="publish">Publish</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                                <div  class="invalid-feedback">
                                    <div >Select one option</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary"  >Add New</button>
                                <button class="btn btn-primary" >Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>