
  

  <nav class="navbar navbar1 navbar-expand-lg">
    <!-- Logo & Store Name -->
    <div class="logo">
      <a routerLink="home"><img src=".\assets\ENgageLogo.png" alt="Store Logo"></a>
      <span class="store-name" >ENgage </span>
    </div>
    <!-- Navbar Links & Search bar -->
    <div class="nav-links">
     <a href="#" class="nav-link" routerLink="home">Home</a>
      <a href="#" class="nav-link" routerLink="products">Products</a>
      <a class="nav-link" routerLink="aboutUS">About Us</a>
      <a class="nav-link" routerLink="dashboard">Dashboard</a>
     <input type="text" placeholder="Search" class="search-bar">
      
      
    </div>
    <div class="user-actions  navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#" class="nav-link" routerLink="signIN">Sign In</a>
            </li> 
            <li class="nav-item active">
                <a href="#" class="nav-link" routerLink="signUP">Sign Up</a>
            </li>
        </ul>
     
      
    </div>
  </nav>


 
